.csv-upload-container {
  width: 45rem;
  padding: 24px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 12px;
  color: #666;
  margin-bottom: 16px;
}

.drop-zone {
  border: 2px dashed #8241e8;
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drop-zone:hover {
  background-color: #e3f2fd;
}

svg {
  color: #8241e8;
  margin-bottom: 8px;
}

.drop-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.file-size-text {
  font-size: 12px;
  color: #666;
}

input[type="file"] {
  display: none;
}

.learn-more {
  margin-top: 16px;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  border-top: 2px solid rgb(218, 216, 216);
  padding: 10px 0px;
}

.learn-more:hover {
  text-decoration: underline;
}
